
.styled-hr {
    border: 0;
    border-bottom: 3px solid black
    
}

#container {
    width: 1000px;
    height: 800px;
    background-color: blanchedalmond;
}

header {
    display: flex;
    padding: 30px;
}
#title {
    color:darkgoldenrod; 
    font-size: 30px;
    margin-left: 50px;
}

nav {
    margin-left: 50px;
    width: 200px;
    height: 450px;
    float: left;
    border-right: 3px solid;
}

main {
    margin: 20px;
    margin-right: 60px;
    width: 600px;
    float: right;
}
